*{
  box-sizing: border-box;
}

.wrapper{
  height:100vh;
  width:100vw;
  display: flex;
}

.side_bar{
  height: 100vh;
  width: 300px;
  background-color: #2f3e51;
  a, a:hover, a:visited{
    color:white;
    text-decoration: none;
  }
  &__user-name{
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    padding: 0 20px;
      p {
        color: white;
        font-size: 16px;
      }
    &__box{
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
      background-color: #253141;
        &__name{
          width: calc(100% - 60px);
          font-weight: bold;
        }
        &__icons{
          display: flex;
          &__edit-user{
            margin-left: 0.3rem;
              a {
                color: white;
              }
          }
          &__new-group{
            margin-left: 0.3rem;
              a {
                color: white;
              }
          }
        }
    }
  }
  &__groups{
    margin-bottom: 40px;
    height: calc(100vh - 140px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
  
    .group {
      margin-bottom: 40px;
      .link {
        color: white;
        text-decoration: none;
      }
      .group__group-name{
        font-size: 15px;
        margin-bottom: 5px;
      }
      .group__latest-message{
        font-size: 11px;
      }
    }
  }
}

.main_chat{
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  &__group{
    height: 100px;
    padding: 0 40px;
    display: flex;
    border-bottom: solid 1px;
    border-bottom-color: #eeeeee;
    
    &__main-header{
      height: 100px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #eeeeee;
      overflow: scroll;
      &__left-box{
        margin-top: 35px;
        &__name{
        font-size: 20px;
        color: #333;
        margin-bottom: 15px;
        }
        &__member{
          display: flex;
          font-size: 12px;
          color: #999999;
        }
      }
      &__right-box{
        color: #38aef0;
        &__edit-btn{
          height: 40px;
          line-height: 40px;
          padding: 0 20px;
          margin-top: 30px;
          border: solid 1px #38aef0;
          position: absolute;
          right: 40px;
          text-decoration: none;
          color: #38aef0;
        }
      }
    }
  }
  &__message{
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;
    &__box{
      padding-bottom: 40px;
      &__upper-info{
        display: flex;
        margin-bottom: 10px;
        &__talker {
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
        &__garbage {
          color: #999999;
          
        }
      &__text {
        color: #434a54;
        font-size: 14px;
        margin-bottom: 10px;
      }
      }
    }
    .message{
    padding-bottom: 30px;
    }
  }
  &__message-form{
    height: 90px;
    padding: 20px 40px;
    background-color: #dddddd;

    &__new-message{
      display: flex;
      position: relative;
     
      &__submit-btn {
        width: 100px;
        height: 50px;
        background-color: #38aef0;
        color: white;
        text-align: center;
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: inherit;
        font-weight: 700;
      }
      &__text {
        height: 50px;
        width: calc(100vw - 500px);
        color: #434a54;
        padding-left: 10px;
        margin-bottom: 20px;
      }
        &__image {
          position: absolute;
          top: 15px;
          right: 135px;
          z-index: 2;
    
          &__file {
            display: none;
          }
      }
    }
  }
}
.flex{
  display: flex;
}